body{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-image: url(./public/images/fondo-madera-blanca_1627-3123.avif);
      
        
 #Titulo {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 85px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 1px;
        background-color: rgba(255, 196, 0, 0.493);
 }
#FotoPerfil {
   width: 280px; 
   height: 350px; 
   margin-left: 475px;
   border-radius: 15%;
   margin-bottom: 50px;  
}
#Nombre{
        text-align: center;
}
#InfoME{
        background-color: rgb(255, 220, 167);
        width: 300px;
        margin-left: 25px;
        padding: 15px;
        border-width: 4px;
        border-color: black;
        border-style:inset;
}
}